* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  background-color: gray;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.techs-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 400px;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
